.navbar-collapse{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: px;
}
a{
  color: white !important;
  font-size: x-large !important;
  font-weight: bolder !important;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  
  
  
}
.card {
  border: 2px solid black;
  
 
}
.card-header{
  background-color: rgb(255, 185, 250) !important;
  color: rgb(0, 8, 255) !important;
 
}
.card-footer{
  background-color: rgb(255, 185, 250) !important;
  
 
}
img{
  margin: 30px 70px !important;
  width: 250px !important;
  height: 250px !important;
 
}
button{
  border-radius: 5px !important;
  
}
